#formulario-contact {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

#formulario-contact .title-contact {
    width: 100%;
    align-items: center;
    display: flex;
    justify-content: center;
    gap: 15px;
}

#formulario-contact .title-contact h2 {

    text-align: center;
}

#formulario-contact .title-contact i {
    color: var(--blue);
    font-size: 2.5rem;
    animation: subirDescer 1s ease-in-out infinite;
}

@keyframes subirDescer {
    0% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-3px);
    }
    100% {

    }
  }

#formulario-contact h2 {
    text-align: center;
}

#formulario-contact form {
    padding: 20px;
    margin: 0 20px;
    border: 1px solid var(--white-absolute);
    display: flex;
    flex-direction: column;
    gap: 20px;
    border-radius: 5px;
}

#formulario-contact form .info-pessoa {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));;
    gap: 2rem;
}

#formulario-contact form .info-pessoa .input {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

#formulario-contact form .info-pessoa .input label {
    font-size: 1.8rem;
    color: var(--white-absolute);
}

#formulario-contact form .info-pessoa .input input {
    height: 4.125rem;
    padding: 4px 10px;
    border-radius: 5px;
    font-style: italic;
    font-size: 1.5rem;
    font-weight: 600;
    outline: none;
    border: none;
}

#formulario-contact form .info-pessoa .input input:focus {
    border: 3px solid var(--blue);
}


#formulario-contact form .message label {
    color: var(--white-absolute);
    font-size: 1.8rem;
}

#formulario-contact form .message textarea {
    width: 100%;
    height: 15rem;
    min-height: 150px;
    margin-top: 5px;
    padding: 13px 10px;
    border-radius: 5px;
    font-style: italic;
    outline: none;
    border: none;
    font-size: 1.5rem;
    font-weight: 600;
    resize: vertical;
}

#formulario-contact form .message textarea:focus {
    border: 3px solid var(--blue);
}

#formulario-contact form button {
    width: 40%;
    height: 4.125rem;
    margin-left: auto;
    margin-right: auto;
    border-radius: 25px;
    font-size: 2rem;
    font-weight: 600;
    background-color: var(--blue);
    color: var(--white-absolute);
    transition: 0.3s all;
}

#formulario-contact form button:hover {
    outline: 3px solid var(--white-absolute);
}