#contact .container{
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
    background-color: var(--color-secundary);
    padding-top: 100px;
}

.contact-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.formulario {
    height: auto;
    border-radius: 10px;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    background-color: #eaccad;
    padding: 20px;
}

.formulario .title-contact {
    display: flex;
    align-items: center;
    gap: 15px;
}

.formulario .title-contact h3 {
    font-size: 2.0rem;
    font-weight: 500;
    text-decoration:underline;
    color: var(--red-text);
}

.formulario .title-contact i {
    color: #5e68ff;
    font-size: 2.0rem;
    animation: subirDescer 1s ease-in-out infinite;
}

@keyframes subirDescer {
    0% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-3px);
    }
    100% {

    }
  }


.img-contact {
    width: 45%;
    height: auto;
}

.img-contact img {
    width: 100%;
    object-fit: cover;
    
}

.contact-content .formulario form {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.contact-content .formulario form label {
    color: #b76363;
    font-size: 1.5rem;
    font-weight: 600;
}

.contact-content .formulario form .info-pessoa {
    display: flex;
    gap: 2rem;
}

.contact-content .formulario form input {
    width: 100%;
    padding: 15px 15px;
    border: 1px solid white;
    border-radius: 8px;
    color: var(--gray);
    background-color: #eaccad;
}

.contact-content .formulario form input:focus {
    outline: 2px solid var(--red-text);
}

.contact-content .formulario form .info-pessoa .informações {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.contact-content .formulario form .info-descricao {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.contact-content .formulario form .info-descricao textarea {
    padding: 15px 15px;
    border: 1px solid white;
    border-radius: 8px;
    background-color: #eaccad;
    color: var(--gray);
}

.contact-content .formulario form .info-descricao textarea:focus {
    outline: 2px solid var(--red-text);
}

.contact-content .formulario form .botao-contact {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    font-size: 2rem;
    padding: 2rem 1rem;
    border-radius: 8px;
    transition: .5s ease;
}

.contact-content .formulario form .botao-contact:hover {
    outline: 3px solid #e1e1e1d0;
    font-size: 2.1rem;
}

.contact-content .formulario form .botao-contact:active {
    background-color: var(--red-text);
}


@media (max-width: 1000px) {
    .img-contact {
        display: none;
    }

    .formulario {
        position: relative;
        left: 50%;
        transform: translateX(-50%);
    }
}

@media (max-width: 530px) {
    .formulario {
        width: 100%;
    }
}