#formulario-contact {
    width: 100%;
    max-width: 1100px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

#formulario-contact .title-contact {
    width: 100%;
    gap: 15px;
    margin: 0 20px;
}

#formulario-contact form {
    padding: 20px;
    margin: 0 20px;
    border: 2px solid #18181A;
    display: flex;
    flex-direction: column;
    gap: 20px;
    border-radius: 5px;
}

#formulario-contact form .info-pessoa {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));;
    gap: 2rem;
}

#formulario-contact form .info-pessoa .input {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

#formulario-contact form .info-pessoa .input label {
    font-size: 1.7rem;
    font-weight: 300;
    color: var(--white-absolute);
}

#formulario-contact form .info-pessoa .input input {
    height: 4.125rem;
    padding: 4px 10px;
    border-radius: 5px;
    font-size: 1.5rem;
    font-weight: 400;
    outline: none;
    border: none;
    border: 2px solid #18181A;
    background-color: transparent;
    color: #77777E;
}

#formulario-contact form .info-pessoa .input input:focus {
    border: 1px solid var(--white-absolute);
}


#formulario-contact form .message label {
    color: var(--white-absolute);
    font-size: 1.8rem;
}

#formulario-contact form .message textarea {
    width: 100%;
    height: 15rem;
    min-height: 150px;
    margin-top: 5px;
    padding: 13px 10px;
    border-radius: 5px;
    outline: none;
    border: none;
    font-size: 1.5rem;
    font-weight: 400;
    resize: vertical;
    border: 2px solid #18181A;
    background-color: transparent;
    color: #77777E;
}

#formulario-contact form .message textarea:focus {
    border: 1px solid var(--white-absolute);
}

#formulario-contact form .content-buttons-contact {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 10rem;
}

#formulario-contact form .content-buttons-contact button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30%;
    height: 4.125rem;
    border-radius: 5px;
    font-size: 2rem;
    font-weight: 400;
    background-color: transparent;
    border: 2px solid #18181A;
    transition: 0.3s all;
    color: #FAFAFA;
    text-transform: capitalize;
}

#formulario-contact form .content-buttons-contact .cancelar-mensagem:hover {
    background-color: #18181A;
}

#formulario-contact form .content-buttons-contact .enviar-mensagem {
    background-color: var(--white-absolute);
    color: #222225;
    border: 0px;
    position: relative;
}

.arrow {
    position: absolute;
    right: 15px;
    transform: rotate(-45deg);
}

#formulario-contact form .content-buttons-contact .enviar-mensagem:hover {
    background-color: #d0cdcd;
}

