
#education .container {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

#education .container .formacoes-content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(178px, 1fr));
    gap: 20px;
}

#education .container .formacoes-content .formacao {
    height: 130px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    position: relative;
    border-radius: 5px;
    padding: 15px;
    background-color: var(--gray-dark);
}


#education .container .formacoes-content .formacao h3 {
    font-size: 1.8rem;
    text-transform: uppercase;
    line-height: 20px;
    font-weight: 600;
    color: var(--white-absolute);
}

#education .container .formacoes-content .formacao .faculdade {
    font-size: 2rem;
    text-transform: uppercase;
    line-height: 20px;
    font-weight: 600;
    color: green;
}

#education .container .formacoes-content .formacao span {
    font-size: 1.6rem;
    text-transform: uppercase;
    font-weight: 500;
    color: var(--gray);
}

#education .container .formacoes-content .formacao p {
    font-size: 1.5rem;
    color: #c5b3b3;
}

#education .container .formacoes-content .formacao img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    padding: 5px;
    background-color: var(--white-absolute);

    position: absolute;
    bottom: 15px;
    right: 15px;
    border: 3px solid var(--black);
    outline: 2px solid var(--gray);
}


@media (max-width: 680px) {
    #education .container .formacoes-content .formacao h3 {
        font-size: 1.8rem;
    }
}

@media (max-width: 480px)  {

    #education .container .formacoes-content .formacao img {
        width: 40px;
        height: 40px;
        bottom: 10px;
        right: 10px;
    }

    #education .container .formacoes-content .formacao p {
        font-size: 1.3rem;
    }
}

@media (max-width: 432px)  {
    #education .container .formacoes-content .formacao {
        height: 93px;
    }
    #education .container .formacoes-content .formacao img {
        bottom: 15px;
        right: 15px;
    }
}

