
#education .container {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

#education .container .formacoes-content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
}

#education .container .formacoes-content .formacao {
    display: flex;
    align-items: center;
    gap: 15px;
    position: relative;
    border-radius: 5px;
    padding: 1.5rem;
    border: 2px solid #18181A;
}


#education .container .formacoes-content .formacao .info-formações {
    border-left: 2px solid #18181A;
    padding-left: 15px;
}


#education .container .formacoes-content .formacao h3 {
    font-size: 1.5rem;
    text-transform: uppercase;
    line-height: 20px;
    font-weight: 400;
    letter-spacing: 0.05rem;
    color: var(--white-absolute);
}

#education .container .formacoes-content .formacao .faculdade {
    font-size: 1.7rem;
    text-transform: uppercase;
    line-height: 20px;
    font-weight: 400;
    color: green;
}

#education .container .formacoes-content .formacao span {
    font-size: 1.4rem;
    text-transform: uppercase;
    font-weight: 500;
    color: var(--gray);
}

#education .container .formacoes-content .formacao p {
    font-size: 1.3rem;
    color: #c5b3b3;
}

#education .container .formacoes-content .formacao img {
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    padding: 5px;
    background-color: var(--white-absolute);
}


@media (max-width: 680px) {
    #education .container .formacoes-content .formacao h3 {
        font-size: 1.8rem;
    }

}

@media (max-width: 480px)  {

    #education .container .formacoes-content .formacao img {
        width: 40px;
        height: 40px;
        bottom: 10px;
        right: 10px;
    }

    #education .container .formacoes-content .formacao p {
        font-size: 1.3rem;
    }
}

@media (max-width: 432px)  {
    #education .container .formacoes-content .formacao {
        height: 93px;
    }
    #education .container .formacoes-content .formacao img {
        bottom: 15px;
        right: 15px;
    }
}

