footer {
    height: auto;
    display: flex;
    align-items: center;
    padding: 5rem 0 2rem 0;
}

footer .container {
    display: flex;
    flex-direction: column;
    gap: 4rem;
}

footer .container .button-contact {
    width: 193px;
}

footer .container .bottom{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

footer .container p {
    font-size: 2rem;
    color: var(--white-gray);
}

footer .container .redes-socias {
    display: flex;
    gap: 30px;
}

footer .container .redes-socias i {
    font-size: 2rem;
}

footer .container .copy2024 {
    color: var(--gray);
    text-align: center;
    font-size: 2rem;
    font-weight: 600;
}