footer {
    height: auto;
    display: flex;
    align-items: center;
    margin: 10rem 0 0 0;
    border-top: 1px solid;
    border-image: linear-gradient(90deg, #8A2BE2, #FF1493, #00FFFF) 1;
}

footer .container {
    display: flex;
    justify-content: space-between;
    gap: 4rem;
    padding: 3rem 20px;
}


footer .container .redes-socias {
    display: flex;
    gap: 30px;
}

footer .container .redes-socias i {
    font-size: 2rem;
}

footer .container .copy2024 {
    text-align: center;
    font-size: 2rem;
    font-weight: 600;
    padding-top: 2rem;
    background: linear-gradient(90deg, #8A2BE2, #FF1493, #00FFFF);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent;
}

@media (max-width: 790px) {
    footer {
        padding: 1rem 0 2rem 0;
    }
}