header {
    width: 100%;
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    background-color: #000000cb;
    backdrop-filter: blur(8px);
    z-index: 200;
}

header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 15px;
}

header .container .logo {
    font-size: 2rem;
    font-weight: 600;
    color: var(--gray);
    border-radius: 4px;
}

header .container .logo span {
    padding: 3px 5px;
    color: var(--style);
    border-radius: 4px;
}

header .container nav .links {
    display: flex;
    gap: 10px;
}

header .container nav .links li a {
    font-size: 1.6rem;
    font-weight: 600;
    letter-spacing: 0.05rem;
    text-transform: capitalize;
    padding: 10px 20px;
    color: var(--white-absolute);
    border-radius: 5px;
    transition: .5s ease;
}

header .container nav .links li a:hover {
    background-color: #28282856;
}

.active {
    background-color: #28282856;
}


header .container .menu-mobile {
    display: none;
    cursor: pointer;
    z-index: 200;
    background-color: rgba(35, 34, 34, 0.621);
    padding: 5px;
    border-radius: 4px;
}

header .container .button-menu-mobile {
    width: 22px;
    height: 22px;
    display: flex;
    align-items: end;
    flex-direction: column;
    justify-content: space-around;
}

header .container .button-menu-mobile .line {
    width: 100%;
    height: 2px;
    border-radius: 3px;
    background-color: var(--white-absolute);
    transition: transform 0.3s, opacity 0.3s, width 0.3s;
}

header .container .button-menu-mobile .line:nth-child(2) {
    width: 80%;
}

@media (max-width: 1300px) {
    header .container {
        padding: 20px 19px;
    }
}

@media (max-width: 660px) {
    header .container nav .links {
        width: 300px;
        height: auto;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: 30px;
        padding: 20px 0;
        position: fixed;
        top: 90px;
        right: 20px;
        opacity: 0;
        border-radius: 5px;
        background-color: #0d0d0d;
        border: 1px solid var( --gray);
        transition: width 0.5s, opacity 0.3s;
        z-index: 1000;
    }

    header .container nav .links.menu-mobile-active {
        height: 250px;
        opacity: 1;
    }

    header .container .menu-mobile {
        display: block;
    }

    header .container .button-menu-mobile .line:nth-child(1).menu-active {
        transform: translateY(6px) rotate(45deg);
        width: 100%;
    }
    
    header .container .button-menu-mobile .line:nth-child(2).menu-active {
        opacity: 0;
    }
    
    header .container .button-menu-mobile .line:nth-child(3).menu-active {
        transform: translateY(-8px) rotate(-45deg);
        width: 100%;
    }
}
