.home .container {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1.875rem;
    padding: 13.5rem 25rem 6rem 15px;
}

.home .container .apresentation {
    font-size: 2.5rem;
    line-height: 2rem;
    margin-left: -2.5px;
}


.home .container h1 {
    font-size: 6rem;
    line-height: 9rem;
    letter-spacing: 0.2rem;
    margin-left: -7px;
    color: #FFF;
}

.home .container .description {
    font-size: 2rem;
    padding-right: 30%;
    color: var(--gray);
    letter-spacing: 0.1rem;
    margin-left: -5px;
}

.home .container .description strong {
    font-style: italic;
    color: var(--gray);
    font-weight: 600;
}

.buttons-contact {
    display: flex;
    align-items: center;
    gap: 1.25rem;
    font-size: 2rem;
    margin-left: -5.5px;
}

.button-contact {
    font-size: 2rem;
    font-weight: 500;
    padding: 1.4rem 2.5rem;
    border-radius: 25px;
    color: var(--white-absolute);
    background-color: var(--red-text);
    transition: 0.3s all;
}

.button-contact i {
    color: var(--white-absolute);
    padding-left: 7px;
}

.button-contact:hover {
    outline: 3px solid #fff;
}

.buttons-contact a i {
    padding: 1.5rem 1.7rem;
    border: 1px solid #FFF;
    border-radius: 50%;
    color: #FFF;
    transition: 0.5s all;
}

.buttons-contact .github:hover {
    background-color: #010409;
}

.buttons-contact .linkedin:hover {
    background-color: #0a66c2;
}


@media (max-width: 1000px) {

    .home .container .description {
        padding-right: 20%;
    }
}

@media (max-width: 900px) {
    .home .container {
        padding: 14.5rem 15px 7rem 15px;
    }
}

@media (max-width: 859px) {
  
}

@media (max-width: 693px) {
    .home .container h1{
        font-size: 6rem;
        line-height: 7rem;
    }
}

@media (max-width: 570px) {
    .home .container {
        padding: 12.5rem 15px 2rem 15px;
    }

    .home .container h1{
        font-size: 4rem;
        line-height: 4.5rem;
    }

    .home .container .description {
        padding: 0;
        margin-top: 10px;
    }

    .home .container .apresentation {
        font-size: 2.5rem;
        line-height: 2rem;
        margin-left: -5.5px;
    }
}