.home .container {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1.875rem;
    padding: 13.5rem 15px 10rem 15px;
}

.home .container .apresentation {
    font-size: 2.5rem;
    line-height: 2rem;
    margin-left: -4px;
}

.home .container h1 {
    font-size: 10rem;
    line-height: 9rem;
    letter-spacing: 0.2rem;
    margin-left: -7px;
    color: #f1f1f1;
}

.home .container .description {
    font-size: 1.5rem;
    margin-top: 15px;
    padding-right: 45%;
    color: var(--gray);
    letter-spacing: 0.1rem;
}

.buttons-contact {
    display: flex;
    align-items: center;
    gap: 20px;
    font-size: 2rem;
}

.buttons-contact button {
    font-size: 2rem;
    font-weight: 500;
    padding: 1.4rem 2.5rem;
    border-radius: 25px;
    color: var(--black);
    transition: 0.3s all;
}

.buttons-contact button i {
    color: var(--black);
    padding-left: 7px;
}

.buttons-contact button:hover {
    outline: 3px solid rgba(255, 255, 255, 0.668);
}

.buttons-contact a i {
    padding: 1.5rem 1.5rem;
    border: 1px solid var(--icons);
    border-radius: 50%;
    color: var(--icons);
    transition: 0.5s all;
}

.buttons-contact .github:hover {
    background-color: #010409;
}

.buttons-contact .linkedin:hover {
    background-color: #0a66c2;
}


@media (max-width: 1000px) {

    .home .container .description {
        padding-right: 40px;
    }
}

@media (max-width: 900px) {
    .home .container {
        padding: 7.5rem 15px 7rem 15px;
    }
}

@media (max-width: 847px) {
    .home .container h1 strong {
        font-size: 12rem;
        line-height: 12rem;
        letter-spacing: 0.2rem;
        color: #f1f1f1;
    }
}

@media (max-width: 570px) {
    .home .container {
        padding: 7.5rem 15px 2rem 15px;
    }

    .home .container h1{
        font-size: 7rem;
        line-height: 7rem;
    }

    .home .container h1 strong {
        font-size: 10rem;
        line-height: 10rem;
    }
}