.home .container {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1.875rem;
    padding: 13.5rem 31rem 1rem 25px;
}

.home .container .apresentation {
    font-size: 2.5rem;
    line-height: 2rem;
    margin-left: -0.1563rem;
}


.home .container h1 {
    font-size: 6rem;
    line-height: 6rem;
    letter-spacing: 0.2rem;
    margin-left: -0.4375rem;
    color: var(--white-absolute);
    font-weight: 500;
}

.home .container h1 span {
    background: linear-gradient(90deg, #8A2BE2, #FF1493, #00FFFF);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent;
}


.home .container .description {
    font-size: 2rem;
    padding-right: 30%;
    padding-left: 16px;
    color: var(--gray);
    letter-spacing: 0.1rem;
    border-left: 3px solid rgb(48, 45, 45);
    border-radius: 1px;
}

.home .container .description strong {
    font-style: italic;
    color: var(--gray);
    font-weight: 600;
}

.buttons-contact {
    display: flex;
    align-items: center;
    gap: 1.25rem;
    font-size: 2rem;
    margin-left: -0.3438rem;
}

.buttons-contact .button-contact {
    font-size: 2rem;
    font-weight: 500;
    padding: 1.4rem 3.5rem;
    border-radius: 30px;
    color: var(--black);
    background-color: var(--white-absolute);
    transition: 0.3s all;
    display: flex;
    align-items: center;
}

.buttons-contact .button-contact i {
    color: var(--black);
    transform: rotate(-45deg);
    margin-left: 10px;
}

.button-contact:hover {
    padding: 1.4rem 3.9rem;
    font-size: 2rem;
}

.buttons-contact .links-redes {
    display: flex;
    align-items: center;
    gap: 5px;
    padding: 1.1rem 1.7rem;
    border: 1px solid var(--white-absolute);
    border-radius: 30px;
    color: var(--white-absolute);
    transition: 0.5s all;
    position: relative;
    transition: .5s ease;
    overflow: hidden;
}

.buttons-contact a:hover {
    padding-right: 5rem;
}


.buttons-contact a img {
    position: absolute;
    right: -35px;
    width: 3rem;
    transition: .5s ease;
    opacity: 0;
}

.buttons-contact a:hover img{
    opacity: 1;
    right: 8px;
}


@media (max-width: 1000px) {

    .home .container .description {
        padding-right: 20%;
    }
}

@media (max-width: 900px) {
    .home .container {
        padding: 14.5rem 15px 2rem 25px;
    }
}

@media (max-width: 693px) {
    .home .container h1{
        font-size: 6rem;
        line-height: 7rem;
    }
}

@media (max-width: 570px) {
    .home .container {
        padding: 12.5rem 15px 1rem 25px;
    }

    .home .container h1{
        font-size: 4rem;
        line-height: 4.5rem;
        padding-bottom: 1rem;
    }

    .home .container .description {
        padding-right: 0;
    }

    .home .container .apresentation {
        font-size: 2.5rem;
        line-height: 2rem;
        margin-left: -5.5px;
    }
}


@media (max-width: 600px) {
    .home .container {
        padding-bottom: 1rem;
    }
}

@media (max-width: 410px) {
    .home .container {
        padding-bottom: 0;
    }
}8