dialog {
    border: none;
    width: 70%;
    height: 70vh;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    text-align: center;
    background-color: white; /* Fundo branco para melhor visualização */
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); /* Sombra para destaque */
    border-radius: 5px; /* Bordas arredondadas */
}
.img-project {
    margin-top: 20px;
}
.img-project-dialog {
    width: 500px;
    height: 10000px;
}
.fechar-modal {
    align-self: flex-end;
    background-color: #f44336;
    color: white;
    border: none;
    border-radius: 50%;
    width: 25px;
    height: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.fechar-modal:hover {
    background-color: #d32f2f;
}