#projects .container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-top: 50px;
}

#projects .title a i{
    color: var(--blue);
}

#projects .projects-content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(375px, 1fr));
    gap: 3rem;
}

#projects .projects-content .project {
    display: flex;
    flex-direction: column;
    border-radius: 8px;
    background-color: var(--red-text);
    padding: 19px 0;
    transition: .5s ease;
}

#projects .projects-content .project:hover {
    transform: translateY(-5px);
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}

#projects .projects-content .project > *:not(.img-project) {
    padding: 0 15px;
}

#projects .projects-content .project .title {
    text-transform: uppercase;
    font-size: 1.5rem;
    font-weight: 700;
    color: var(--white-absolute);
}

#projects .projects-content .img-project {
    width: 100%;
    object-fit: cover;
}

#projects .projects-content .img-project img {
    width: 100%;
    height: 210px;
}

#projects .projects-content p {
    font-size: 1.3rem;
}

#projects .projects-content .tools-repository {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 1rem;
}

#projects .projects-content .tools-repository .tolls-project {
    display: flex;
    gap: 1rem;
}

#projects .projects-content .tools-repository .tolls-project .toll img{
    width: 4rem;
}

#projects .projects-content .tools-repository .buttons-project {
    display: flex;
    gap: 10px;
}

#projects .projects-content .tools-repository .buttons-project a {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 16px;
    font-weight: 600;
    text-transform: uppercase;
    padding: 12px 13px;
    border-radius: 2px;
    color: var(--white-absolute);;
    background-color: var(--red-secundary);
}

#projects .projects-content .tools-repository .buttons-project a:hover {
    box-shadow: 0px 0px 2px var(--white-absolute);
}

#projects .projects-content .tools-repository .buttons-project a i {
    color: var(--white-absolute);
}

#projects .projects-content .tools-repository .buttons-project i {
    padding: 3.2px 6.4px;
}


@media (max-width: 1234px) {
    #projects .projects-content .img-project img {
        width: 100%;
        height: 300px;
    }
}


@media (max-width: 975px) {
    #projects .projects-content .img-project img {
        width: 100%;
        height: 250px;
    }
}

@media (max-width: 862px) {
    #projects .projects-content .img-project img {
        width: 100%;
        height: 200px;
    }
}

@media (max-width: 816px) {
    #projects .projects-content .img-project img {
        width: 100%;
        height: 300px;
    }
}

@media (max-width: 616px) {
    #projects .projects-content .img-project img {
        width: 100%;
        height: 250px;
    }
}