#projects .container {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

#projects .container .ver-mais {
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    opacity: 0;
}

#projects .container .ver-mais p {
    text-align: center;
    font-size: 1.5rem;
    color: var(--white-absolute);
}

#projects .container .ver-mais i {
    color: var(--blue);
    font-size: 2rem;
    margin-top: -5px;
    animation: subirDescer 2s ease-in-out infinite;
}

@keyframes subirDescer {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(3px);
    }

    100% {}
}


#projects .title a i {
    color: var(--blue);
}

#projects .projects-content {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    justify-items: center;
    gap: 6rem 3rem;
}

#projects .projects-content .project {
    position: relative;
    object-fit: cover;
    border-radius: 10px;
    display: flex;
    transition: .5s ease;
}

#projects .projects-content .project .tasks {
    display: flex;
    background-color: #39586d7e;
    border-radius: 3px;
    padding: 3px;
    position: absolute;
    bottom: 10px;
    left: 10px;
}

#projects .projects-content .project .tasks img {
    width: 3.5rem;
    height: 3.7rem;

}

#projects .projects-content .project img {
    height: 25rem;
    width: 100%;
    border-radius: 5px;
}

#projects .projects-content .buttons-project {
    display: flex;
    gap: 10px;
    position: absolute;
    bottom: 10px;
    right: 10px;
}

#projects .projects-content .buttons-project a {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 13px;
    font-weight: 600;
    text-transform: uppercase;
    padding: 8px 10px;
    border-radius: 2px;
    color: var(--white-absolute);
    background-color: var(--blue);
    transition: .5s ease;
}


#projects .projects-content .buttons-project a:hover {
    background-color: #42667e;
}

#projects .projects-content .buttons-project a i {
    color: var(--white-absolute);
}

#projects .projects-content .buttons-project i {
    padding: 3.2px 6.4px;
}

.mostra-projetos {
    height: auto;
}

@media (max-width: 1240px) {
    #projects .projects-content {
        width: 100%;
        height: 250px;
        overflow: hidden;
    }

    #projects .container .ver-mais {
        opacity: 1;
    }
}


@media (max-width: 1234px) {
    #projects .projects-content {
        width: 100%;
        height: 310px;
        overflow: hidden;
    }
}

@media (max-width: 1232px) {
    #projects .projects-content .project img {
        height: 30rem;
    }
}

@media (max-width: 1090px) {
    #projects .projects-content {
        width: 100%;
        height: 240px;
        overflow: hidden;
    }
}


@media (max-width: 910px) {
    #projects .projects-content .project img {
        height: 30rem;
    }
}

@media (max-width: 839px) {
    #projects .projects-content .project img {
        height: 30rem;
    }
}

@media (max-width: 523px) {
    #projects .projects-content .project img {
        height: 30rem;
    }
}


@media (max-width: 439px) {
    #projects .projects-content .project img {
        height: 25rem;
        width: 100%;
    }

    #projects .container .ver-mais {
        margin-top: -50px;
    }
}