#projects .container {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

#projects .content-projects {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(241px, 1fr));
    justify-content: space-between;
    gap: 3rem;
}

#projects .content-projects .project {
    height: auto;
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
    border: 1px solid var(--white-absolute);
    padding: 1rem;
    border-radius: 5px;
    position: relative;
}

#projects .content-projects .project img {
    width: 100%;
    border-radius: 5px;
}

#projects .content-projects .project h3 {
    display: flex;
    font-size: 1.3rem;
    letter-spacing: 0.1rem;
    color: var(--white-absolute);
    text-transform: uppercase;
    font-weight: 400;
} 

#projects .content-projects .project .tecnologias {
    display: flex;
    gap: 0.5rem;
    margin-left: -0.3rem;
}

#projects .content-projects .project .tecnologias p {
    font-size: 1.4rem;
    text-transform: uppercase;
    padding: 1px 10px;
    border-radius: 10px;
    color: var(--white-absolute);
}

#projects .content-projects .project .tecnologias p:nth-child(1) {
    background-color:#E65100;
    border: 2px solid #b13e00;
}

#projects .content-projects .project .tecnologias p:nth-child(2) {
    background-color:#0277BD;
    border: 1px solid#023552;
}

#projects .content-projects .project .tecnologias p:nth-child(3) {
    background-color: #97800b;
    border: 2px solid #9d8302;
}

#projects .content-projects .project .links {
    display: flex;
    gap: 1rem;
    border-radius: 5px;
    font-size: 2.5rem;
    position: absolute;
    bottom: 1.2rem;
    right: 1rem;
    color: var(--gray);
}

#projects .content-projects .project .links .link-codigo {
    padding: 4px 7px;
    border-radius: 3px;
    transition: .5s ease;
}

#projects .content-projects .project .links .link-codigo:hover {
    color: var(--white-absolute);
}

@media (max-width: 680px) {
    #projects .content-projects .project img {
        width: 100%;

        border-radius: 5px;
    }

    #projects .content-projects {
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    }
    
}
