@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
@import url('_footer.css');
@import url('_contato.css');
@import url('_header.css');
@import url('_home.css');
@import url('_projects.css');
@import url('_tools.css');
@import url('_modal.css'); 
@import url('_education.css'); 

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: var(--white-gray);
    font-family:'Outfit', sans-serif;
}

/*#9b9eaa*/

:root {
    --white-absolute: #fff;
    --blue: #0b0c0c;
    --black: #000;
    --gray: #333232;
}

html {
    scroll-behavior: smooth;
    font-size: 62.5%;
}

body {
    background-color: var( --black);
    overflow-x: hidden;
}

main {
    display: flex;
    flex-direction: column;
}

section:not(.home) {
    padding-top: 8rem;
    margin-top: 1rem;
}

h2 {
    font-size: 3rem;
    font-weight: 500;
    line-height: 3rem;
    color: #fff;
}

a {
    text-decoration: none;
}

button {
    border: none;
    cursor: pointer;
}

ul {
    list-style: none;
}

.container {
     width: 100%;
     max-width: 1300px;
     padding: 0 20px;
     margin: 0 auto;
}

::-webkit-scrollbar {
    width: 15px;
}
  
::-webkit-scrollbar-track {
    background: var(--black)
}
  
::-webkit-scrollbar-thumb {
    background: var(--blue); /* Cor do polegar */
    border-radius: 5px; /* Bordas arredondadas */
}
  
  /* Mudando a cor do polegar ao passar o mouse */
  ::-webkit-scrollbar-thumb:hover {
    background: var(--gray); /* Cor ao passar o mouse */
  }


@media (max-width: 1090px) {
    html {
        font-size: 50%;
    }
    
}

@media (max-width: 426px) {
    section:not(.home)  {
        padding-top: 9rem;
        margin-top: 1rem;
    }
}
