#tolls  {
    background-color: var( --white-text);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    padding: 7rem 0;
    margin-top: 100px;
}

#tolls .container {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

#tolls .container h2 {
    color: var(--black);
}

#tolls  .container .toll-content { 
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 2rem;
}

#tolls  .container .toll {
    display: flex;
    align-items: center;
    gap: 1.5rem;
    padding: 1rem 2rem;
    border-radius: 8px;
    border: 2px solid #fff;
    background-color: var(--black-secundary);
}

#tolls   .container .toll img {
    width: 5rem;
}

#tolls  .container .toll p {
    font-size: 2rem;
    font-weight: 600;
    text-transform: uppercase;
    color: var(--black);
}