#tolls  {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

#tolls .container {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

#tolls .container h2 {
    color: var(--white-absolute);
}

#tolls  .container .toll-content { 
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(149px, 1fr));
    grid-gap: 2rem;
}

#tolls  .container .toll {
    display: flex;
    align-items: center;
    gap: 1.5rem;
    padding: 1rem 1rem;
    border-radius: 5px;
    border: 2px solid var(--white-absolute);
}

#tolls  .container .toll .toll-img {
    width: 3rem;
}

#tolls  .container .toll p {
    font-size: 1.5rem;
    font-weight: 600;
    text-transform: uppercase;
    color: var(--white-absolute);
    letter-spacing: 0.1rem;
}

@media (max-width: 1230px) {
    #tolls  .container .toll {
        gap: 1rem;
        padding: 1rem 1rem;
    }
}

@media (max-width: 920px) {
    #tolls  .container .toll img {
        width: 4rem;
    }
}

@media (max-width: 500px) {
    #tolls  .container {
        margin-top: -10px;
    }

}



@media (max-width: 376px) {
    #tolls  .container .toll {
        gap: 1rem;
        padding: 1rem 1rem;
    }
    
    #tolls   .container .toll img {
        width: 4rem;
    }
}


@media (max-width: 389px) {
    #tolls  .container .toll {
        gap: 0.5rem;
        padding: 1rem 1rem;
    }
}